# Auto detect text files and perform LF normalization
* text=auto

# Ensure these files use LF
*.java text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
